<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserProfileLogMapper">
    
    <!-- SELECT -->
    <select id="getMaxSeq" parameterType="com.example.demo.dto.UserProfileLog" resultType="int">
        SELECT IFNULL(MAX(seq), 0) + 1 AS seq
        FROM user_profile_log
        WHERE yyyyMMdd = #{yyyyMMdd}
        AND user_id = #{userId}
    </select>

    <select id="selectLogList" parameterType="string" resultType="com.example.demo.dto.UserProfileLog">
        SELECT yyyyMMdd, seq, user_id, summarize, created_time
        FROM user_profile_log
        WHERE user_id = #{userId}
        ORDER BY yyyyMMdd desc, seq DESC
    </select>

    <select id="selectLog" parameterType="com.example.demo.dto.UserProfileLog" resultType="com.example.demo.dto.UserProfileLog">
        SELECT yyyyMMdd, seq, user_id, trait, age_group, summarize, travel_date, destination
        FROM user_profile_log
        WHERE yyyyMMdd = #{yyyyMMdd}
        AND seq = #{seq}
        AND user_id = #{userId}
    </select>

    <!-- INSERT -->
    <insert id="insertLog" parameterType="com.example.demo.dto.UserProfileLog">
        INSERT INTO user_profile_log 
        (
            yyyyMMdd,
            seq,
            user_id,
            trait,
            age_group,
            summarize,
            destination,
            travel_date
        )
        VALUES 
        (
            #{yyyyMMdd}, 
            #{seq}, 
            #{userId}, 
            #{trait}, 
            #{ageGroup}, 
            #{summarize},
            #{destination},
            #{travelDate}
        )
    </insert>
</mapper> 